
/* LESS compiling not working atm */

html {
  height: 100%;
}

body {
  background-color: red;
  #gradient > .vertical(#148dd2, #27a1e4);
}

.main {
  background-color: #f0f;
  .border-radius(10px);

}
