/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                  Twitter bootstrap                      *
 * Note: to save some bytes, cherry-pick components needed *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@import "../../components/bootstrap/less/bootstrap.less";
@import "../../components/bootstrap/less/responsive.less";


/***************
 * Main styles *
 ***************/

 @semiTransparent: rgba(255,255,255,0.75);
 @baseBg: #485256;
 @animDuration: 30s;

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0em;
  #gradient > .vertical-three-colors(lighten(@baseBg, 25), @baseBg , 63%, darken(@baseBg, 25));
  height: 100%;
  overflow: hidden;
}


@-webkit-keyframes moveit {
  0% {
    animation-timing-function: ease-in-out;
    // left: 0;
  }
  30%{
    height: 190px;
    // -webkit-transform: scale(2.75);
  }
  40% {
    height: 280px;
    -webkit-transform: scale(2.75);
    top: 50px;
  }
  70%{
    top: 120px;
    -webkit-transform: scale(2.4);
    animation-timing-function: ease-in;

  }
  75% {
    height: 190px;
    top: 150px;
    left: -9100px;
    animation-timing-function: ease-out;
    // -webkit-transform: scale(1.4);
    -webkit-transform: rotate3d(.4, .4, 0, 8deg);

  }
}

#viewport {

  -webkit-perspective: 200;
  //-webkit-transform-origin: 100% 100%;

  h1 {
    font-size: 180px;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    width: 15000px;
    height: 190px;


    &.real{

      // color: #fff;
      top: 100px;
      left: 500px;

      -webkit-animation: moveit @animDuration 5 alternate;
      -webkit-transform-origin: top;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(top, #ff003b 0, #ff6200 100% );
    }
    &.ghost{
      color: rgba(40,40,40,0.25);
      top: 122px;

      overflow: hidden;

      // -webkit-background-clip: text;
      //background: -webkit-linear-gradient(top, #221217 0, #000000 100% );
      // -webkit-text-fill-color: transparent;

      -webkit-animation: moveit @animDuration 5 alternate;

     // -webkit-transform-origin: 50%;
      // -webkit-transform: skewX(30deg);

      -webkit-transform: rotate3d(1, 0, 0, -120deg);
      //-webkit-transform: translateY(75%);
      //-webkit-transform: scaleZ(5);
    }

  }
}
