
{{#each tweet}}
  <blockquote>
    <img class="img-polaroid pull-left" style="margin-right: .9em;" src="{{profile_image_url}}" />
    <p>{{text}}</p>
    <small>{{from_user}}</small>
  </blockquote>
{{/each}}
